{% extends "General/Layout/layout.html.twig" %}

{% block metaTitle %}{{ 'actualite.client.manager.metatitle'|trans }}{% endblock %}
{% block metaDescription %}{{ 'actualite.client.manager.metadescription'|trans }}{% endblock %}

{% block contentTitle %}
    <h1>{{ 'actualite.client.manager.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <!-- La recherche -->
    <div class="recherche">
        <form action="{{ path('client_actualite_manager') }}" method="post">

            <select name="categorie" class="form-elem form-recherche">
                <option value="">{{ 'actualite.client.label.categorieall'|trans }}</option>
                {% for categorie in categories %}
                    {% if recherches.categorie == categorie.id %}
                        <option value="{{ categorie.id }}" selected>{{ categorie.nom }}</option>
                    {% else %}
                        <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <button type="submit" name="addRecherche" class="btn type2 form-recherche" data-btn="{{ 'actualite.client.manager.recherche.bouton'|trans }}">{{ 'actualite.client.manager.recherche.bouton'|trans }}</button>
        </form>

        <div class="clear"></div>
    </div>

    <!-- Mise en avant -->
    {% if avant %}
        <div class="actualiteAvant">

            {% if avant.image %}
                <div class="actualiteAvantImage">
                    {% if avant.image %}
                        <img src="{{ asset('img/actualite/miniature/' ~ avant.image) }}">
                    {% else %}
                        <img src="{{ asset('img/actualite/miniature/alt.jpg') }}">
                    {% endif %}
                </div>
            {% endif %}

            {% if avant.categorie %}
                <div class="actualiteAvantCategorie">
                    <p>{{ actualite.categorie.nom }}</p>
                </div>
            {% endif %}

            <div class="actualiteAvantTitre">
                <h3><a href="{{ path('client_actualite_view',{'slug': avant.slug, 'id': avant.id})}}">{{ avant.titre }}</a></h3>
            </div>

            <div class="aAvantDate">
                <p>{{ avant.debut|date("d M Y") }}</p>
            </div>

            <div class="aAvantResume">
                <p>{{ avant.resume }}</p>
            </div>

            <div class="clear"></div>
        </div>
    {% endif %}

    <!-- La liste des actualités -->
    <div class="actualites">

        {% for actualite in pagination %}
            <div class="actualite navFull" data-url="{{ path('client_actualite_view',{'slug': actualite.slug, 'id': actualite.id})}}">
                <div class="actualiteImage">
                    {% if actualite.image %}
                        <img src="{{ asset('img/actualite/miniature/' ~ actualite.image) }}">
                    {% else %}
                        <img src="{{ asset('img/actualite/miniature/alt.jpg') }}">
                    {% endif %}
                </div>

                <div class="actualiteBottom">
                    {% if actualite.categorie %}
                        <div class="actualiteCategorie">
                            <p>{{ actualite.categorie.nom }}</p>
                        </div>
                    {% endif %}

                    <div class="actualiteTitre">
                        <h3><a href="{{ path('client_actualite_view',{'slug': actualite.slug, 'id': actualite.id})}}">{{ TruncateText(actualite.titre, 30) }}</a></h3>
                    </div>

                    <div class="actualiteResume">
                        <p>{{ TruncateText(actualite.resume, 120) }}</p>
                    </div>

                    <div class="actualiteDate">
                        <p>{{ actualite.debut|date("d M Y") }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>{{ 'actualite.client.validators.empty'|trans }}</p>
        {% endfor %}

        <div class="clear"></div>
    </div>

    {{ knp_pagination_render(pagination) }}

{% endblock %}