{% extends "General/Layout/layout.html.twig" %}

{% block metaTitle %}{{ evenement.referencement.title }}{% endblock %}
{% block metaDescription %}{{ evenement.referencement.description }}{% endblock %}

{% block openGraph %}
    {% include"Referencement/Include/view.html.twig" with {'data': evenement} %}
{% endblock %}

{% block breadcrumb %}
    {{ include("General/Include/breadcrumb.html.twig", {'breadcrumb':breadcrumb }) }}
{% endblock %}

{% block contentTitle %}
    <h1>{{ evenement.titre }}</h1>
{% endblock %}

{% block content %}
    {% if evenement.image %}
        <div class="evenementViewImage">
            <img src="{{ asset('img/evenement/tmp/' ~ evenement.image) }}">
        </div>
    {% endif %}

    <div class="evenementViewBottom">
        <div class="evenementViewDate">
            <p><strong>{{ 'evenement.client.label.date'|trans }}</strong> {{ 'evenement.client.label.datedu'|trans ~' '~ evenement.debut|date("d/m/Y à H:i") ~' '~ 'evenement.client.label.dateau'|trans ~' '~ evenement.fin|date("d/m/Y à H:i") }}</p>
        </div>

        {% if evenement.categorie %}
            <div class="evenementViewCategorie">
                <p><strong>{{ 'evenement.client.label.categorie'|trans }}</strong> {{ evenement.categorie.nom }}</p>
            </div>
        {% endif %}
    </div>

    <div class="wysiwyg">
        {{ evenement.contenu|raw }}
    </div>

    {% include"General/Social/partage.html.twig" with {'titre': evenement.titre, 'url': path('client_evenement_view',{'slug': evenement.slug, 'id': evenement.id})} %}

{% endblock %}