{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %} Ajouter une catégorie{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}

            {{ form_label(form.nom, "Nom *") }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-elem big'}}) }}

            <br>

            <div class="tabs">
                <ul class="tabsMenu">
                    <li><a href="#tabs-1">Langue *</a></li>
                </ul>

                <div class="tabsContent" id="tabs-1">
                    {{ form_label(form.langue, "Langue *") }}
                    {{ form_errors(form.langue) }}
                    {{ form_widget(form.langue, {'attr': {'class': 'form-elem big'}}) }}
                </div>
            </div>

            <br>

		{{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}
