{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %} Ajouter un objet {% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.nom, "Nom *") }}
		{{ form_errors(form.nom) }}
		{{ form_widget(form.nom, {'attr': {'class': 'form-elem big'}}) }}

		{{ form_label(form.email, "Email(s) *") }}
		{{ form_errors(form.email) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-elem big'}}) }}
		<div class="form-legende">
			Si vous souhaitez utiliser plusieurs adresses email<br>
			séparez les avec un point virgule ";"
		</div>

        <br>

        <div class="tabs">
            <ul class="tabsMenu">
                <li><a href="#tabs-1">Langue *</a></li>
            </ul>

            <div class="tabsContent" id="tabs-1">
                {{ form_label(form.langue, "Langue *") }}
                {{ form_errors(form.langue) }}
                {{ form_widget(form.langue, {'attr': {'class': 'form-elem big'}}) }}
            </div>
        </div>

		<br>

		{{ form_widget(form.Enregistrer, {'attr': {'class': 'form-submit medium turquoise'}}) }}

		{{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}
