{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %}Gestion des images pour : {{ galerie.titre }}{% endblock %}

{% block breadcrumb %}
	<div id="breadcrumb">
        {{ include("General/Admin/Include/breadcrumb.html.twig") }}
	</div>
{% endblock %}

{% block content %}

	<a href="{{ path('admin_diaporama_image_ajouter',{'galerie':galerie.id}) }}" class="btn addContent turquoise">Ajouter un image</a>

	<table class="table">
		
		<tr>
			<th width="15%"></th>
			<th class="left" width="55%">Image</th>
			<th width="15%">Ordre<br>Décroissant</th>
			<th colspan="3" width="15%">Actions</th>
		</tr>

		{% for image in images %}
			
			<tr>

				<td>
					<img class="tableImage" src="{{ asset('img/galerie/miniature/' ~ image.image) }}">
				</td>

				<td class="left">
					<p class="tableDate">Ajouté le {{ image.created|date("d/m/Y à H:i") }}</p>
					{% if image.changed is not null %}
						<p class="tableDate">Modifié le {{ image.changed|date("d/m/Y à H:i") }}</p>
					{% endif %}
					<p><strong>{{ image.titre }}</strong></p>
				</td>

				<td>
					<select name="poid" class="form-poid" data-url="{{ path('admin_diaporama_image_poid',{'galerie': galerie.id, 'id': image.id})}}">
                        {% for i in 1..200 %}
                            {% if image.poid == i%}
								<option value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
								<option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
					</select>
				</td>

                {% if image.isActive == false %}
					<td data-url="{{ path('admin_diaporama_image_publier',{'galerie': galerie.id, 'id': image.id})}}" class="tablePublucation">
                    	<a href="{{ path('admin_diaporama_image_publier',{'galerie': galerie.id, 'id': image.id})}}" title="Publication"><i class="tableAction rouge fa fa-check"></i></a>
                    </td>
				{% else %}
					<td data-url="{{ path('admin_diaporama_image_publier',{'galerie': galerie.id, 'id': image.id})}}" class="tablePublucation">
                    	<a href="{{ path('admin_diaporama_image_publier',{'galerie': galerie.id, 'id': image.id})}}" title="Publication"><i class="tableAction turquoise fa fa-check"></i></a>
                    </td>
				{% endif %}

				<td>
                    <a href="{{ path('admin_diaporama_image_modifier',{'galerie': galerie.id, 'id': image.id})}}" title="Modifier l'image"><i class=" tableAction fa fa-pencil-alt"></i></a>
                </td>

				<td>
                    <a href="{{ path('admin_diaporama_image_supprimer',{'galerie': galerie.id, 'id': image.id})}}" class="sweetDelete" title="Supprimer l'image" data-title="Supprimer l'image" data-text="êtes vous sur ?"><i class=" tableAction fa fa-trash"></i></a>
                </td>
			</tr>

		{% else %}
			<tr>
				<td colspan="6">Aucune image</td>
			</tr>
		{% endfor %}

	</table>

{% endblock %}