{% extends "General/Layout/layout.html.twig" %}

{% block metaTitle %}{{ galerie.referencement.title }}{% endblock %}
{% block metaDescription %}{{ galerie.referencement.description }}{% endblock %}

{% block openGraph %}
    {% include"Referencement/Include/view.html.twig" with {'data': galerie} %}
{% endblock %}

{% block breadcrumb %}
    {{ include("General/Include/breadcrumb.html.twig", {'breadcrumb':breadcrumb }) }}
{% endblock %}

{% block contentTitle %}
    <h1>{{ galerie.titre }}</h1>
{% endblock %}

{% block content %}
    {% if galerie.image %}
        <div class="galerieViewImage">
            <img src="{{ asset('img/galerie/tmp/' ~ galerie.image) }}">
        </div>
    {% endif %}

    <div class="galerieViewBottom">
        <div class="galerieViewDate">
            <p><strong>{{ 'diaporama.client.label.date'|trans }}</strong> {{ galerie.created|date("d/m/Y") }}</p>
        </div>

        {% if galerie.categorie %}
            <div class="galerieViewCategorie">
                <p><strong>{{ 'diaporama.client.label.categorie'|trans }}</strong> {{ galerie.categorie.nom }}</p>
            </div>
        {% endif %}
    </div>

    <div class="wysiwyg">
        {{ galerie.contenu|raw }}
    </div>

    <!-- La liste des images de la galerie -->
    {% if galerie.images|length > 0 %}
        <div class="bloc">

            <div class="blocHeader">
                <h2 class="title">{{ 'diaporama.client.images.title'|trans }}</h2>
                <p>{{ 'diaporama.client.images.soustitle'|trans }}</p>
            </div>

            <div class="galerieImages">
                {% for image in galerie.images %}
                    <div class="galerieImage">
                        <a href="{{ asset('img/galerie/tmp/' ~ image.image) }}" data-lightbox="lightbox" data-title="{{ image.titre }}"><img src="{{ asset('img/galerie/miniature/' ~ image.image) }}"></a>
                    </div>
                {% endfor %}

                <div class="clear"></div>
            </div>

        </div>
    {% endif %}

    {% include"General/Social/partage.html.twig" with {'titre': galerie.titre, 'url': path('client_diaporama_view',{'slug': galerie.slug, 'id': galerie.id})} %}

{% endblock %}